{% extends "base.incl" %}

{% block title %}PKCS#11 URIs{% endblock %}

{% block content %}
<h1>Spec: PKCS#11 URIs</h1>

<p>PKCS#11 URIs are a way to identify a certain
crypto object that resides in a PKCS#11 module. These URIs can be used in
configuration files, or when one application needs to refer another to a
cryptographic object, like a key or a certificate.</p>

<p>A PKCS#11 URI looks like:</p>

<pre>
pkcs11:token=The%20Software%20PKCS#11%20softtoken;object=my-certificate;
	objecttype=cert;id=%69%95%3e%5c%f4%bd%ec%91
</pre>

<h2>Implementations and Integration</h2>

<ul>
	<li><a href="http://www.gnu.org/software/gnutls/">GnuTLS</a>:
		<a href="http://www.gnu.org/software/gnutls/manual/gnutls.html#PKCS-_002311-tokens">Used to lookup</a>
		certificate and key objects.
	<li><a href="http://people.collabora.co.uk/~stefw/gck-docs/">Gck library</a>: API for
		<a href="http://people.collabora.co.uk/~stefw/gck-docs/gck-PKCS11-URIs.html">parsing and building</a>
		PKCS#11 URIs</li>
	<li><a href="p11-kit.html">p11-kit</a>: Used in configuration. Also has 
		<a href="http://p11-glue.freedesktop.org/doc/p11-kit/p11-kit-URIs.html">an API</a> for
		parsing and building PKCS#11 URIs</li>
</ul>

<h2>Specification</h2>

<ul>
	<li>An IETF RFC Draft: <a href="http://tools.ietf.org/html/draft-pechanec-pkcs11uri-03">draft-pechanec-pkcs11uri</a></li>
	<li>Discussion: <a href="https://www.ietf.org/mailman/listinfo/saag">saag@ietf.org</a></li>
	<li>Authors: J. Pechanec, D. Moffat</li>
</ul>

{% endblock %}
