{% extends "base.incl" %}

{% block title %}System Storage Module{% endblock %}

{% block content %}
<h1>Project: System Storage Module</h1>

<p>This has been renamed the <a href="trust-module.html">Trust Storage Module</a>.</p>

{% endblock %}
