{% extends "base.incl" %}

{% block title %}p11-kit{% endblock %}

{% block content %}
<h1>Spec: Trust Assertions</h1>

<p>A trust assertion represents a single piece of information about the user's
or system's trust preferences. These can be used to make consistent trust
decisions.<p>

<p><a href="/doc/pkcs11-trust-assertions">There's a specification</a> for how
trust assertions work, and how they can be stored within PKCS#11.</p>

<h2>Documentation</h2>

<ul>
	<li>Specification draft: <a href="/doc/pkcs11-trust-assertions">pkcs11-trust-assertions</a></li>
	<li>Header: <a href="/doc/pkcs11-trust-assertions/pkcs11-trust-assertions.h">pkcs11-trust-assertions.h</a></li>
	<li>Talk by Stef Walter: <a href="#">Video</a> |
		<a href="https://www.opensc-project.org/opensc/attachment/wiki/FOSDEM2011/trust-assertion-notes.ps">Slides</a></li>

<h2>Source Repository</h2>

<p>The source code is available via git.</p>

<pre>
$ git clone git://anongit.freedesktop.org/p11-glue/pkcs11-trust-assertions
</pre>

<h2>Contributing</h2>

<ul>
	<li>Mailing list:
		<a href="http://lists.freedesktop.org/mailman/listinfo/p11-glue">p11-glue@lists.freedesktop.org</a></li>
	<li>Bugs:
		<a href="https://bugs.freedesktop.org/enter_bug.cgi?product=p11-glue">bugs.freedesktop.org</a></li>
</ul>

{% endblock %}
