{% extends "base.incl" %}

{% block title %}p11-kit{% endblock %}

{% block content %}
<h1>Spec: Trust Assertions</h1>

<p>A trust assertion represents a single piece of information about the user's
or system's trust preferences. These can be used to make consistent trust
decisions.<p>

<p>There's a specification for how trust assertions work, and how they can
be stored within PKCS#11.</p>

<h2>Source Repository</h2>

<p>The source code is available via git.</p>

<pre>
$ git clone git://anongit.freedesktop.org/p11-glue/pkcs11-trust-assertions
</pre>

<h2>Contributing</h2>

<ul>
	<li>Mailing list: 
		<a href="http://lists.freedesktop.org/mailman/listinfo/p11-glue">p11-glue@lists.freedesktop.org</a></li>
	<li>Bugs:
		<a href="https://bugs.freedesktop.org/enter_bug.cgi?product=p11-glue">bugs.freedesktop.org</a></li>
</ul>

{% endblock %}
